@charset "utf-8";

/*
 * Bootstrap customizations
 */
.container .jumbotron,
.container-fluid .jumbotron {
    padding-top: 60px;
}

.navbar-inverse .navbar-brand {
    color: #777;
}
.navbar-inverse .navbar-brand img {
    vertical-align: text-top;
}

pre {
    color: #bd4147;
    background-color: #f7f7f9;
}
